@import 'variables';

.form-auth{
  max-width: 25rem;

  label{ font-weight: 500; font-size: .8rem;}
  input{ padding: .5rem;}

  a{ font-size: .8rem; margin-bottom: 1rem;}

  .button-info{
    background-color: $info;
    color: white;
    border: none;
    max-width: 15rem;
    padding: 1rem;
    border-radius: .5rem;

    &:disabled{
      background-color: #2c437c;
      color: #d3d3d3;
    }
  }
}
