// https://www.codinglabweb.com/2021/06/dropdown-sidebar-menu-html-css.html

@import "variables";
@import "../fonts/styles";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background-color: #fff !important;
  color: #26233c;
  z-index: 100;
  transition: all 0.5s ease;
  box-shadow: 0 0.125rem 0.375rem 0 rgba(161, 172, 184, 0.12);

  &.close {
    width: 78px;

    .nav-item {
      .icon-rectangle {
        display: none;
      }
      .link {
        padding: 0 0.6rem;

        i {
          font-size: 1.5rem;
          margin-left: 0.5rem;
        }

        .link_name {
          opacity: 0;
          pointer-events: none;
        }
      }
    }
  }
}

// clases para el logo------------------------------------------
.logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 0.7rem;

  .logo {
    height: 60px;
  }
}

// clase para el menu-------------------------------------------
.nav-links {
  height: 100%;
  padding: 0;
  overflow: auto;
}

// Titulo del menu
.menu-header {
  padding: 0.7rem;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;

  &::-webkit-scrollbar {
    display: none;
  }
}

// Item del menu
.nav-item {
  list-style: none;
  transition: all 0.4s ease;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  color: $textGray;

  .router{
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    color: $textGray !important;
  }

  .link {
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;

    i {
      height: 40px;
      min-width: 40px;
      text-align: center;
      line-height: 40px;
      color: $textGray;
      font-size: 1.5rem;
      transition: all 0.3s ease;
    }

    .link_name {
      font-size: 16px;
      font-weight: 300;
      color: $textGray;
      transition: all 0.4s ease;
    }
  }

  .active {
    i,
    .link_name {
      color: $primary !important;
    }
  }

  &:hover {
    i,
    .link_name {
      color: $primary !important;
    }
  }
}

.profile-details {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Media Query -----------------------------------------------------------------*/
// @media screen and (max-width: 400px) {
//   .sidebar {
//     width: 240px;

//     &.close {
//       width: 78px;
//     }

//     .profile-details {
//       width: 240px;
//     }

//     &.close .profile-details {
//       background: none;
//       width: 78px;
//     }

//     &.close .profile-details img {
//       width: 52px;
//       height: 52px;
//     }
//   }

//   .home-section {
//     left: 240px;
//     width: calc(100% - 240px);
//   }

//   .sidebar.close~.home-section {
//     left: 78px;
//     width: calc(100% - 78px);
//   }
// }
