<div class="card-contend animate__animated animate__fadeIn">
  <div class="card-body p-4">
    <div class="row">
      <h3>Listado de Integraciones</h3>

      <div class="col-md-6">
        <app-input-search (onSearch)="searchIntegrations($event)"></app-input-search>
      </div>

      <div class="col-md-6 text-end">
        <button class="btn btn-primary mnw-12" (click)="openModal()">
          <i class="bx bx-plus-circle"></i> Nueva Integración
        </button>
      </div>

      <div class="col-12 mt-4 loader-container">
        <app-table-integrations (emitIntegration)="editIntegration($event)"></app-table-integrations>
      </div>
    </div>
  </div>
</div>

<!-- Modal New Integration ---------------------------------------------------------------->
<ng-template #modalIntegrationForm let-modal>

  <div class="modal-header">
    <div class="modal-primary">
      <h3 class="modal-title">
        <i class="icon-integracion"></i>
        <span class="title">Nueva Integración</span>
      </h3>
      <i class="bx bx-x bx-sm" (click)="modal.dismiss()"></i>
    </div>
  </div>

  <div class="modal-body modal-detail">
    <form class="row" autocomplete="off" (ngSubmit)="onSubmit()">

      <!-- Field Name -->
      <div class="col-md-12 form-group">
        <label for="name" class="label-modal">Nombre de la Integración</label>
        <input
          id="name"
          name="name"
          class="form-control"
          [(ngModel)]="integrationForm.name">
      </div>

      <!-- Field Agent -->
      <div class="col-md-6 form-group">
        <label class="label-modal">Agente</label>
        <ng-select
          name="agentId"
          [placeholder]="'-- Seleccione un Agente --'"
          [(ngModel)]="integrationForm.agentId">
            @for (agente of agents; track agente.id) {
              <ng-option [value]="agente.id"> {{ agente.name }} </ng-option>
            }
        </ng-select>
      </div>

      <!-- Field Fuente -->
      <div class="col-md-6 form-group">
        <label class="label-modal">Fuente</label>
        <ng-select
          name="integrationTypeId"
          [placeholder]="'-- Seleccione una Fuente --'"
          [(ngModel)]="integrationForm.integrationTypeId">
            @for (item of integrationTypes; track item.id) {
              <ng-option [value]="item.id"> {{ item.description }} </ng-option>
            }
        </ng-select>
      </div>

      <!-- Field Sentence -->
      <!-- Field Name -->
      <div class="col-md-12 form-group">
        <label class="label-modal">URL API</label>
        <input
          name="urlWS"
          class="form-control"
          [(ngModel)]="integrationForm.urlWS">
      </div>

      <!-- Buttons -->
      <div class="col-12 text-end mb-3">
        <button
          type="button"
          class="btn btn-outline-primary mnw-12 me-2"
          (click)="modal.dismiss()">
          Cancelar
        </button>

        <button
          type="submit"
          class="btn btn-primary ripple mnw-12"
          [disabled]="isInvalid">
          <i class="bx bx-spin bx-loader-alt me-1" *ngIf="isSaving"></i>
          {{ isSaving ? 'Confirmando...' : 'Confirmar' }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

